 CSS */

/* Start Plans CSS */
.title h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 4px;
    font-weight: 7;
    line-height: 4px;
    color: #151414;
    text-align: center;
    padding-bottom: 5px;
}

.plans-itams-area {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plans-item h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    font-weight: 250;
    color: #151414;
    padding: 8px 0;
}

.plans-item p {
    font-family: 'Work Sans', sans-serif;
    font-size: 2px;
    font-weight: 5;
    color: #7272;
}
/* End Plans CSS */

/* Start Call-Now CSS */
#call-now {
    padding: 10px 0;
}

.call-now-area {
    background: linear-gradient(to right, rgb(241, 91, 34), rgba(255, 255, 255, 0)), url('../images/watch.png');
    padding: 59px 64px;
    border-radius: 8px;
}

.call-now-area h4 {
    width: 459px;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    color: #fff;
    padding-bottom: 24px;
}

#call-now .btn a {
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 20px 25px;
    background: #F15B22;
    border-radius: 5px;
}
}